@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --bg: #115e59;

  --container-bg: #ffffff;

  --btn-bg: #059669;
  --btn-text-color: #ffffff;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

/* div {
  border: 2px solid black;
} */

.container {
  background-color: var(--container-bg);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 15px;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.author {
  align-self: flex-end;
}

.btn-new-quote {
  background-color: var(--btn-bg);
  padding: 0.25rem 1.25rem;
  border-radius: 15px;
  color: var(--btn-text-color);
}

@media (min-width: 320px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}
